@import url(http://fonts.googleapis.com/css?family=Englebert);

* {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; 

	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/******************************/
/* Makes screen non-selectable and prevents text cursor from displaying */
/******************************/
section#game {
    margin: 0;
    padding: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /* 3D transform :: activate GPU rendering */
    -webkit-transform: scale3d(1, 1, 1);
    -o-user-select: none;
    user-select: none;
}

section#game {
	width: 100%;
	height: 600px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
	position: relative;
	background-image: url('../images/tree-tall.png'), url('../images/grass-block.png'), url('../images/background.png');
	background-position: 62% 84%, right bottom, left top;
	background-repeat: no-repeat, no-repeat, repeat;	
	position: relative;
	color: #ffffff;
	font-size: 24px;
    line-height: 32px;
	font-family: "Englebert", Helvetica, sans-serif;
}
section#game .score{
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
}
section#game .time{
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
}
section#game .start{
	display: block;
	padding-top: 10px;
	margin: 0 auto 0 auto;
	text-align: center;
	width: 50%;
	cursor: pointer;
}
section#game .start .high-scores{
	text-align: left;
}
section#game .gem{
	display: block;
	position: absolute;
	width: 48px;
	height: 48px;
	cursor: pointer;
}
section#game .gem.green{
	background: url('../images/gem-green.png') no-repeat top left;
}
section#game .gem.blue{
	background: url('../images/gem-blue.png') no-repeat top left;
}
section#game .gem.orange{
	background: url('../images/gem-orange.png') no-repeat top left;
}










.sparkling{ position:relative;}
.particle{ position:absolute;z-index:10;top:0px;left:0px;}


.particle {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.gem {
    animation-fill-mode: both;

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

    /*
    -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

    -webkit-transform: perspective(600);
    -webkit-perspective: 600;
    
    -webkit-perspective:1000; -moz-perspective:1000; perspective:1000;
    */
}
